#a{
    color: pink;
    text-decoration: none;
    
}
#b{
    color: pink;
    text-decoration: none;
    
}
#i2{
    width: 210px;
}
#para{
    color: red;
    font-weight: bold;
}
#a{
    color: pink;
}